[Unit]
Description=Run snmp.service 5 minutes after last completion

[Timer]
OnBootSec=5min
OnUnitInactiveSec=10sec
Persistent=true

[Install]
WantedBy=timers.target