[Unit]
Description=Legacy multi refresh timer (do not enable with TOPOLOGY_REFRESH_LOOP=1)

[Timer]
OnActiveSec=1min
OnUnitInactiveSec=1min
Unit=snmp.service

[Install]
WantedBy=timers.target
