[Unit]
Description=Run slzy snmp.service every 5 minutes

[Timer]
OnBootSec=5min
OnUnitInactiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
